html, Body{
    margin: 15px;
    background-color: white;
    background-size: 100%;

}
.header{
    height: 150px;
    width: 100%;
    background-color: lightcoral;
    font-size: 100px;
    text-align: 50px;
    font-family: 'Shadows Into Light Two', cursive;
    border: 500px;
    border-color: red;
    font-weight: 800px;
    border-bottom-color: darkviolet;
}
.main{
    height: 100%;
    width: 100%;
    background: url("bg3.jpeg") 0 0 no-repeat fixed;
    background-size: 100%;
    

}
.footer{
    height: 200px;
    width: 100%;
    background-color: lightcoral;
    font-size: 100px;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
}